.footer_wrap
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.since && theme.since != nowYear
        .copyright!= `&copy;${theme.since} - ${nowYear} by ${config.author}`
    else
        .copyright!= `&copy;${nowYear} by ${config.author}`
    .theme-info Powered by #[a(href='https://hexo.io' rel='nofollow') Hexo] | Theme-#[a(href='https://github.com/PhosphorW/hexo-theme-academia' rel='nofollow') Academia] | <#[a(href="https://www.revolvermaps.com/livestats/5tuthm55z78/") Stats]>
    .stats
        img(src="//rf.revolvermaps.com/w/3/s/a/0/40/2/ffffff/010020/aa0000/5tuthm55z78.png" alt="Stats" style="border:0;display:none;" width="150" height="150")
